contourpy
cycler
et-xmlfile
fonttools
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
pillow
plotly
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt5-stubs
python-dateutil
pytz
ramp
rampdemand
six
tenacity
tqdm
tzdata
XlsxWriter
